@tailwind base;

:root {
  --bodyLink: #2574a9;
  --bodyTextColor: #404040;
}

.mode-dark {
  background: #404040;
  --bodyTextColor: #f0f0f0;
  --bodyLink: #81cfe0;
}

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--bodyTextColor);
  font-weight: 400;
}
h1 {
  font-size: 2.25rem;
}
h1,
h2 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h2 {
  font-size: 1.62671rem;
}
h3 {
  font-size: 1.38316rem;
}
h3,
h4 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85028rem;
}
h5,
h6 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h6 {
  font-size: 0.78405rem;
}
img {
  max-width: 100%;
}
li {
  margin-bottom: 0.725rem;
}
p {
  padding: 0;
  margin: 0 0 1.45rem;
}

/* custom styles */

ul {
  @apply list-disc;
  @apply pl-4;
}

header {
  grid-template-areas: 'h1 spacer nav toggle';
  grid-template-columns: 320px 1fr auto auto;
  grid-template-rows: 60px;
}

@media (max-width: 768px) {
  header {
    grid-template-areas: 'h1 h1 h1 toggle' 'spacer spacer spacer spacer' 'nav nav nav nav';
    grid-template-columns: auto auto auto 50px;
    grid-template-rows: 60px 20px 1fr;
  }
}

nav {
  grid-area: nav;
}

.spacer {
  grid-area: spacer;
}

header button {
  grid-area: toggle;
}

main a {
  color: var(--bodyLink);
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

.gatsby-highlight {
  background-color: #011627;
  overflow: auto;
}

.gatsby-highlight pre[class*='language-'] {
  background-color: transparent;
  float: left;
  min-width: 100%;
}

.highlight-line {
  background-color: rgb(53, 59, 69);
  display: block;
  margin-right: -1.4em;
  margin-left: -1.4em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.5em solid #81cfe0;
}

@tailwind components;
@tailwind utilities;
