@tailwind base;

ul {
  @apply list-disc;
  @apply pl-4;
}

:root {
  --headerFont: 'Inter', Arial, Helvetica, sans-serif;
  --bodyFont: 'Inter', Arial, Helvetica, sans-serif;
  --primaryColor: #663399;
  --footerLink: #66339988;
  --footerLinkHover: #663399dd;
  --footerBackground: #66339906;
  --bodyLink: #2574a9;
  --bodyTextColor: #404040;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--bodyFont);
  color: var(--bodyTextColor);
  font-weight: 400;
}
.mode-dark {
  background: #404040;
  --bodyTextColor: #f0f0f0;
  --bodyLink: #81cfe0;
  --footerLink: #81cfe0;
  --footerLinkHover: #e4f1fe;
  --primaryColor: #81cfe0;
  --footerBackground: #81cfe020;
}
h1 {
  font-family: var(--headerFont);
}
h1 {
  font-size: 2.25rem;
}
h1,
h2 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h2 {
  font-size: 1.62671rem;
}
h3 {
  font-size: 1.38316rem;
}
h3,
h4 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85028rem;
}
h5,
h6 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h6 {
  font-size: 0.78405rem;
}
img {
  max-width: 100%;
}
li {
  margin-bottom: 0.725rem;
}
p {
  padding: 0;
  margin: 0 0 1.45rem;
}

/* custom styles */

header {
  grid-template-areas: 'h1 spacer nav toggle';
  grid-template-columns: 320px 1fr auto auto;
  grid-template-rows: 80px;
  max-width: 1600px;
}

@media (max-width: 768px) {
  header {
    grid-template-areas: 'h1 h1 h1 toggle' 'spacer spacer spacer spacer' 'nav nav nav nav';
    grid-template-columns: auto auto auto 50px;
    grid-template-rows: 80px 20px 1fr;
  }
}

nav {
  grid-area: nav;
}

.spacer {
  grid-area: spacer;
}

header button {
  grid-area: toggle;
}

main a {
  color: var(--bodyLink);
  text-decoration: none;
}

footer a {
  color: var(--footerLink);
}

footer a:hover {
  color: var(--footerLinkHover);
}

@tailwind components;
@tailwind utilities;
